body{
	background-color: orangered;
	animation: 3s changecolor infinite;
}
@keyframes changecolor{
	0%{background-color: red;}
	25%{background-color: blue;}
	50%{background-color: yellow;}
	75%{background-color: orange;}
	100%{background-color: green;}
}

.panda{
	width: 170px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);

}
.head{
	width: 165px;
	height: 150px;
	background-color: white;
border-radius: 50% 47%; 
border: solid black 3px;
box-shadow: inset 17px 0px 3px 0px #f1f1f1;
position: absolute;
z-index:1;
}
.body{
	width: 160px;
	height: 200px;
	background-color: white;
	border: solid black;
	border-radius: 90% 90% 70% 70%;
	box-shadow: inset 12px -8px 3px 0px #f1f1f1;
position: absolute;
top: 130px;
left: 5px;

}
.legl{
	width: 50px;
	height: 80px;
	background-color: black;
	border-radius: 40% 50% 40% 50%;
	position: absolute;
	top: 180px;
	left: 20px;
	z-index:-1;
}
.legr{
	width: 50px;
	height: 80px;
	background-color: black;
	border-radius: 50% 90% 80% 70%;
	position: absolute;
	top: 180px;
	left: 90px;
	z-index: -1;
}
.arml{
width: 50px;
height: 110px;
background-color: black;
border-radius: 90% 60% 70% 70%;
position: absolute;
left: -10px;
top: 6px;
z-index: -1;
 }
 .armr{
 	width: 45px;
 	height: 80px;
 	background-color: black;
 	border-radius: 50% 90% 80% 70%;
 	position: absolute;
 	left: 133px;
 	top: -4px;
 	transform: rotate(110deg);
 	z-index: -1;
}
.chunk-arm{
width:45px; 
height:80px;
background-color: black;
border-radius: 50% 90% 80% 70%;
position: absolute;
left: 170px;
transform: rotate(25deg);
top: -20px;
}
.earl{
	width: 70px;
	height: 70px;
	background-color: black;
	border-radius: 70% 80% 70% 70%;
	position:absolute;
	top: -25px;
	left: -5px;
	z-index: -99;
}
.earr{
	width: 70px;
	height: 70px;
	background-color: black;
	border-radius: 70% 80% 70% 70%;
	position: absolute;
	top: -30px;
	left: 100px;
	z-index: -99;
}
.mouth{
	width: 20px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	position:absolute;
	top: 120px;
	left: 73px;
}
.nouse{
	width: 50px;
	height: 10px;
	border-color: black;
	border-radius: 40%

}